.profile_pic {
    display: flex;
    justify-content: center;
    background-color: rgb(197, 239, 115);
    height: 200px;
    width: 200px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgba(187, 217, 103, 0.5);
    flex-direction: column;
    
    
}
.profile_pic img{
    align-self: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
span{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}