body {
    background-image: url('./back.jpg');
    background-size:contain;
    background-repeat: repeat-y;
    
    
}
.profile_pic {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    background-color: rgba(199, 237, 125,0.1);
    height: 200px;
    width: 200px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgba(187, 217, 103, 0.297);
    
    
    
}
.profile_pic img{
    align-self: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
span{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(234, 119, 18);
}